pipeline/DownloadListing.json
{
	"name": "DownloadListing",
	"properties": {
		"description": "Download Listing From Domain",
		"activities": [
			{
				"name": "DomainToDataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "rest_payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": {
							"value": "@{variables('payload')}",
							"type": "Expression"
						},
						"additionalHeaders": {
							"X-API-Key": "key_dbc9e1522250d984764bfbd62626c02b",
							"Content-Type": "application/json"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"quoteAllText": true,
							"filePattern": "setOfObjects"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "DomainListingREST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataLakeListing",
						"type": "DatasetReference",
						"parameters": {
							"postcode": {
								"value": "@pipeline().parameters.postcode",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "rest_payload",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "payload",
					"value": {
						"value": "@replace(variables('payloadTemplate'), '$$POSTCODE$$', pipeline().parameters.postcode)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"postcode": {
				"type": "string",
				"defaultValue": "2603"
			}
		},
		"variables": {
			"payloadTemplate": {
				"type": "String",
				"defaultValue": "{\"listingType\":\"Sale\",\"locations\":[{\"state\":\"\",\"region\":\"\",\"area\":\"\",\"suburb\":\"\",\"postCode\":$$POSTCODE$$,\"includeSurroundingSuburbs\":false}],\"customSort\":{\"elements\":[{\"field\":\"AdId\",\"direction\":\"Descending\"}]},\"pageNumber\":0,\"pageSize\":200}"
			},
			"payload": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-08-14T05:53:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}