pipeline/DownloadListing.json
{
	"name": "DownloadListing",
	"properties": {
		"description": "Download Listing From Domain",
		"activities": [
			{
				"name": "rest_payload",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "payload",
					"value": {
						"value": "@replace(variables('payloadTemplate'), '$$POSTCODE$$', pipeline().parameters.postcode)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Until Pagination Ends",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "rest_payload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@less(int(variables('count')), 200)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DomainToDataLake2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:00:30",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@{replace(variables('payload'), '$$PAGE$$', string(length(variables('page'))))}\n",
										"type": "Expression"
									},
									"additionalHeaders": {
										"X-API-Key": {
											"value": "@pipeline().parameters.apikey",
											"type": "Expression"
										},
										"Content-Type": "application/json"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings",
										"quoteAllText": true,
										"filePattern": "setOfObjects"
									}
								},
								"enableStaging": false,
								"validateDataConsistency": false
							},
							"inputs": [
								{
									"referenceName": "DomainListingREST",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DataLakeListing",
									"type": "DatasetReference",
									"parameters": {
										"postcode": {
											"value": "@pipeline().parameters.postcode",
											"type": "Expression"
										},
										"extract_ts": {
											"value": "@pipeline().parameters.extract_ts",
											"type": "Expression"
										},
										"page": {
											"value": "@length(variables('count'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update count",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "DomainToDataLake2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "count",
								"value": {
									"value": "@string(activity('DomainToDataLake2').output.rowsRead)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Update page",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "DomainToDataLake2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "page",
								"value": "1"
							}
						}
					],
					"timeout": "0.00:05:00"
				}
			}
		],
		"parameters": {
			"postcode": {
				"type": "string",
				"defaultValue": "2000"
			},
			"apikey": {
				"type": "string",
				"defaultValue": "key_dbc9e1522250d984764bfbd62626c02b"
			},
			"extract_ts": {
				"type": "string",
				"defaultValue": "000000"
			}
		},
		"variables": {
			"payloadTemplate": {
				"type": "String",
				"defaultValue": "{\"listingType\":\"Sale\",\"locations\":[{\"state\":\"\",\"region\":\"\",\"area\":\"\",\"suburb\":\"\",\"postCode\":$$POSTCODE$$,\"includeSurroundingSuburbs\":false}],\"customSort\":{\"elements\":[{\"field\":\"AdId\",\"direction\":\"Descending\"}]},\"pageNumber\":$$PAGE$$,\"pageSize\":200}"
			},
			"payload": {
				"type": "String"
			},
			"count": {
				"type": "String",
				"defaultValue": "200"
			},
			"page": {
				"type": "Array",
				"defaultValue": []
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-08-14T05:53:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}