pipeline/ForEachPostcode2.json
{
	"name": "ForEachPostcode2",
	"properties": {
		"activities": [
			{
				"name": "LookupPostcodes",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:01:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "postcode_run",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupPostcodes",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetFromKeyVault",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupPostcodes').output.value[int(pipeline().parameters.state)].postcodes",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "DownloadListing",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "DownloadListing",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"postcode": {
										"value": "@item()",
										"type": "Expression"
									},
									"apikey": {
										"value": "@activity('GetFromKeyVault').output.value",
										"type": "Expression"
									},
									"extract_ts": {
										"value": "@variables('extract_ts')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GetFromKeyVault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvault987234.vault.azure.net/secrets/DOMAIN-API-KEY1/9294c51d962c45638bb710562c640760?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "extract_ts",
					"value": "convertTimeZone(utcnow(), 'UTC', 'AUS Eastern Standard Time')"
				}
			}
		],
		"parameters": {
			"state": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"variables": {
			"extract_ts": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-08-14T05:58:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}