pipeline/test.json
{
	"name": "test",
	"properties": {
		"activities": [
			{
				"name": "GetFromKeyVault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://keyvault987234.vault.azure.net/secrets/DOMAIN-API-KEY1/9294c51d962c45638bb710562c640760?api-version=7.0",
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "api_key",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetFromKeyVault",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "api_key",
					"value": {
						"value": "@activity('GetFromKeyVault').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"api_key": {
				"type": "String"
			}
		},
		"annotations": []
	}
}